<h1>Client Dashboard</h1>
<p>Find me in app/views/client/home/index.html.erb</p>

<% if client_user_signed_in? %>
<%= link_to 'Sign out', destroy_client_user_session_path, data: { 'turbo-method': :delete } %>
<% else %>
<%= link_to 'LOG IN CLIENT', new_client_user_session_path %>
<% end %>