<%= stylesheet_link_tag "footer", "data-turbo-track": "reload" %>

<footer class="fixed-bottom bg-light">
  <div class="container">
    <div class="d-flex justify-content-around py-2">
      <a href="#" class="text-center footer_link">Share</a>
      <% if client_user_signed_in? %>
        <%= link_to 'Invite', client_invite_link_index_path, class: 'text-center footer_link' %></li>
      <% end %>
      <%= link_to 'Lottery', client_lottery_index_path, class: 'text-center footer_link' %></li>
      <a href="#" class="text-center footer_link">Shop</a>
      <a href="#" class="text-center footer_link">Me</a>
    </div>
  </div>
</footer>