<footer class="fixed-bottom bg-light">
  <div class="container">
    <div class="d-flex justify-content-around py-2">
      <a href="#" class="text-center">Share</a>
      <a href="#" class="text-center">Invite</a>
      <a href="#" class="text-center">Lottery</a>
      <a href="#" class="text-center">Shop</a>
      <a href="#" class="text-center">Me</a>
    </div>
  </div>
</footer>