<nav class="navbar navbar-expand">
  <button class="toggler-btn me-2 mt-1" type="button" aria-expanded="false">
    <i class="lni lni-text-align-left"></i>
  </button>

  <% if current_page?(admin_user_list_index_path) %>
    <h2 class="text-center mt-1 font-weight-bold fs-3">User List</h2>
  <% end %>

  <% if current_page?(admin_invite_list_index_path) %>
    <h2 class="text-center mt-1 font-weight-bold fs-3">Invite List</h2>
  <% end %>

  <% if current_page?(admin_items_path) %>
    <h2 class="text-center mt-1 font-weight-bold fs-3">Item List</h2>
  <% end %>

  <% if current_page?(admin_offers_path) %>
    <h2 class="text-center mt-1 font-weight-bold fs-3">Offer List</h2>
  <% end %>

  <% if current_page?(admin_banner_index_path) %>
    <h2 class="text-center mt-1 font-weight-bold fs-3">Banner List</h2>
  <% end %>

  <% if current_page?(admin_news_tickers_path) %>
    <h2 class="text-center mt-1 font-weight-bold fs-3">News Ticker List</h2>
  <% end %>

  <% if current_page?(admin_ticket_index_path) %>
    <h2 class="text-center mt-1 font-weight-bold fs-3">Ticket List</h2>
  <% end %>

  <% if current_page?(admin_orders_path) %>
    <h2 class="text-center mt-1 font-weight-bold fs-3">Order List</h2>
  <% end %>

  <% if current_page?(admin_winners_path) %>
    <h2 class="text-center mt-1 font-weight-bold fs-3">Winning Tickets List</h2>
  <% end %>

  <% if @user && current_page?(admin_user_list_path(@user)) %>
    <h2 class="text-center mt-1 font-weight-bold fs-3">Balance Operate</h2>
  <% end %>
</nav>
